$accent: #0096DA; /* Button regular, radio hover, accordion and tab active/hover color */
$accent-hover: #0081BC; /* Button hover */
$accent-pressed: #015d87; /* Button pressed */
$bg-color: #F6F6F6;
$bg-success: #D1E7DD;
$inactive: #EDEEEF; /* Disabled radio/input, inactive tab, inactive close tab in accordion */
$inactive-input-label: #B8BED8;

$border-regular: #DADEF0;
$border-hover: #C3C9DB;
$border-focus: #8288A2;
$border-error: #FF1E38;
$border-success: #BADBCC;

$text-01: #3F3F3F; /* Input labels (but not radio), accordion text */
$text-02: #8288A2; /* Regular tab color */
$text-error: #FF1E38;

$placeholder-color: #B8BED8;

$timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
