.v-form {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 38px;
  background-color: #fff;
}

.v-form__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.v-form__error-message {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: $text-error;

  margin: 7px 0 0;
}

.v-fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.v-fieldset--block {
  grid-column: 1 / -1;
}

.v-fieldset__radio-wrapper {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .v-fieldset__radio-wrapper {
    flex-flow: column;
    align-items: flex-start;

    .v-form__radio:not(:first-child) {
      margin-top: 24px;
    }
  }
}

@media (max-width: 768px) {
  .v-form {
    grid-template-columns: none;
  }

  .v-fieldset {
    grid-column: 1 / -1;
  }
}
